/***********  quiz_settings_main_informations  ***********/
#quiz_settings #quiz_settings_main_informations {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 4px;
    width: 650px;
    z-index: 999;
}
#quiz_settings #quiz_settings_main_informations #quiz_main_informations_name {
	width: 97%;
}
#quiz_settings #quiz_settings_main_informations #quiz_main_informations_textarea_blocks {
	display: inline-block;
	width: 100%;
}
#quiz_settings #quiz_settings_main_informations #quiz_main_informations_description_block {
	float: left;
	width: 50%;
}
#quiz_settings #quiz_settings_main_informations #quiz_main_informations_comment_block {
	float: right;
	width: 50%;
}
#quiz_settings #quiz_settings_main_informations .quiz_main_informations_textearea {
	width: 94%;
	height: 41px;
	resize: none;
}
#quiz_settings #quiz_settings_main_informations #quiz_main_informations_levels_blocks {
	display: inline-block;
	width: 100%;
}
#quiz_settings #quiz_settings_main_informations .quiz_main_informations_level_block_left,
#quiz_settings #quiz_settings_main_informations .quiz_main_informations_level_block_right {
	width: 20%;
}
#quiz_settings #quiz_settings_main_informations .quiz_main_informations_level_block_left {
	float: left;
}
#quiz_settings #quiz_settings_main_informations .quiz_main_informations_level_block_right {
	float: right;
}
#quiz_settings #quiz_settings_main_informations .quiz_main_informations_level_input {
	width: 85%;
}

/***********  quiz_settings_questions  ***********/
	
#quiz_settings #quiz_settings_questions {
	display: inline-block;
	width: 646px;
}

/*******  quiz_newquestion_container ******/
#quiz_settings #quiz_settings_questions #quiz_newquestion_container {
	position: relative;
	float: left;
	margin-left: 4px;
	background-color: #E5EAED;
    border: 1px solid #a9a9a9;
    width: 355px;
    min-height: 419px;
    -moz-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
    padding: 12px 15px 12px 12px;
}
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div {
	display: block;
}
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form .quiz_newquestion_textarea_block .quiz_newquestion_textearea {
	float: none;
	width: 97%;
	height: 41px;
	resize: none;
}
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form #quiz_newquestion_table_div {
	display: block;
	width: 100%;
}
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form #quiz_newquestion_table_div #quiz_newquestion_table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;	
}
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form #quiz_newquestion_table_div #quiz_newquestion_table #quiz_newquestion_tablebody tr {
	height: 25px;
	max-height: 25px;
	table-layout:fixed;
}
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form #quiz_newquestion_table_div #quiz_newquestion_table #quiz_newquestion_tablebody tr td,
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form #quiz_newquestion_table_div #quiz_newquestion_table #quiz_newquestion_tablebody tr th {
	border: 1px solid #A9A9A9;
	height: 25px;
	max-height: 25px;
	table-layout: fixed;
}
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form #quiz_newquestion_table_div #quiz_newquestion_table #quiz_newquestion_tablebody tr th {
	background: #6ABCF6;
	background: -webkit-linear-gradient(top, #D9E9F1 0%,#89D9FB 1%,#83D6F9 10%,#60C2EC 39%,#4FBEF1 48%,#4DC0F1 100%);
	background: -moz-linear-gradient(center top , #D9E9F1 0%, #89D9FB 1%, #83D6F9 10%, #60C2EC 39%, #4FBEF1 48%, #4DC0F1 100%) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(top, #D9E9F1 0%,#89D9FB 1%,#83D6F9 10%,#60C2EC 39%,#4FBEF1 48%,#4DC0F1 100%);
	background: -ms-linear-gradient(top, #D9E9F1 0%,#89D9FB 1%,#83D6F9 10%,#60C2EC 39%,#4FBEF1 48%,#4DC0F1 100%);
	background: linear-gradient(top, #D9E9F1 0%,#89D9FB 1%,#83D6F9 10%,#60C2EC 39%,#4FBEF1 48%,#4DC0F1 100%);
    color: #666666;
    height: 28px;
}
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form #quiz_newquestion_table_div #quiz_newquestion_table #quiz_newquestion_tablebody tr td {
	background-color: white;
}
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form #quiz_newquestion_table_div #quiz_newquestion_table #quiz_newquestion_tablebody tr #quiz_newquestion_th_option {
	width: 80%;
}
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form #quiz_newquestion_table_div #quiz_newquestion_table #quiz_newquestion_tablebody tr #quiz_newquestion_th_correct {
	width: 20%;
}
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form #quiz_newquestion_table_div #quiz_newquestion_table #quiz_newquestion_tablebody tr .quiz_newquestion_checkbox_td {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form #quiz_newquestion_table_div #quiz_newquestion_table #quiz_newquestion_tablebody tr td .quiz_newquestion_answer {
	height: 25px;
	max-height: 25px;
	width: 96.6%;
	margin-bottom: 0px;
	border:none;
}
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form #quiz_newquestion_table_div #quiz_newquestion_table #quiz_newquestion_tablebody tr .quiz_newquestion_checkbox_td .quiz_newquestion_checkbox_div {
	width: 25%;
	height: 65%;
	margin-left: auto;
	margin-right: auto;
	color: #666666;
}
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form #quiz_newquestion_table_div #quiz_newquestion_table #quiz_newquestion_tablebody tr .quiz_newquestion_checkbox_td .quiz_newquestion_checkbox_div input {
	float: none;
	width: 15px;
	height: 15px;
	margin-bottom: 0px;
}
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form #quiz_newquestion_modifytable {
	display: inline-block;
}
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form #quiz_newquestion_modifytable #quiz_newquestion_add_newanswer {
	float: left;
}
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form #quiz_newquestion_modifytable #quiz_newquestion_remove_lastanswer {
	float: right;
	margin-left: 50px;
}
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form #quiz_newquestion_modifytable #quiz_newquestion_add_newanswer #quiz_newquestion_add_button,
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form #quiz_newquestion_modifytable #quiz_newquestion_remove_lastanswer #quiz_newquestion_remove_button {
	color: #666666;
}
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form #quiz_newquestion_modifytable #quiz_newquestion_add_newanswer #quiz_newquestion_add_button:hover,
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form #quiz_newquestion_modifytable #quiz_newquestion_remove_lastanswer #quiz_newquestion_remove_button:hover {
	color: #2683BC;
}
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form #quiz_newquestion_modifytable #quiz_newquestion_add_newanswer #quiz_newquestion_add_button #quiz_newquestion_add_div span,
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form #quiz_newquestion_modifytable #quiz_newquestion_remove_lastanswer #quiz_newquestion_remove_button #quiz_newquestion_remove_div span {
	display: inline;
	margin-left: 6px;
}
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form #quiz_newquestion_modifytable #quiz_newquestion_add_newanswer #quiz_newquestion_add_button #quiz_newquestion_add_div #quiz_newquestion_add_tag {
	display: inline-block;
	width: 9px;
	height: 9px;
	background: url("/devwidgets/quiz/images/search_tag_active.png") no-repeat top left transparent;
}
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form #quiz_newquestion_modifytable #quiz_newquestion_add_newanswer #quiz_newquestion_add_button:hover #quiz_newquestion_add_div #quiz_newquestion_add_tag {
	background: url("/devwidgets/quiz/images/search_tag_add.png") no-repeat top left transparent;
}
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form #quiz_newquestion_modifytable #quiz_newquestion_remove_lastanswer #quiz_newquestion_remove_button #quiz_newquestion_remove_div #quiz_newquestion_remove_tag {
	display: inline-block;
	width: 13px;
	height: 13px;
	background: url("/devwidgets/quiz/images/delete_icon_default.png") no-repeat top left transparent;
}
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_div #quiz_newquestion_form #quiz_newquestion_modifytable #quiz_newquestion_remove_lastanswer #quiz_newquestion_remove_button:hover #quiz_newquestion_remove_div #quiz_newquestion_remove_tag {
	background: url("/devwidgets/quiz/images/delete_icon_hover.png") no-repeat top left transparent;
}
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_raquo_right {
    background: url("/devwidgets/quiz/images/quiz_raquo_right.png") no-repeat scroll left top transparent;
    height: 34px;
    position: absolute;
    left: 368px;
    top: 163px;
    width: 25px;
    border: 0;
}
#quiz_settings #quiz_settings_questions #quiz_newquestion_container #quiz_newquestion_raquo_right:disabled {
    cursor: auto;
}


/*******  quiz_auestionslist_container ******/
#quiz_settings #quiz_settings_questions #quiz_questionslist_container {
	position: relative;
	float: right;
	border: solid;
	height: 443px;
    width: 246px;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    border: 1px #a9a9a9 solid;
}
#quiz_settings #quiz_settings_questions #quiz_questionslist_container #quiz_questionslist_header {
    display: inline-block;
    background-color: #E5EAED;
	border-radius: 5px 5px 0 0;
	height: 21px;
	width: 222px;
	padding: 10px 12px 5px;
}
#quiz_settings #quiz_settings_questions #quiz_questionslist_container #quiz_questionslist_header h2{
	float: left;
	margin: 0px;
	font-size: 12px;
}
#quiz_settings #quiz_settings_questions #quiz_questionslist_container #quiz_questionslist_header #quiz_questionslist_form {
    float: right; 
    display: inline-block;
    margin-left: 46px;
}
#quiz_settings #quiz_settings_questions #quiz_questionslist_container #quiz_questionslist_header #quiz_questionslist_form label {
    float: left;
    text-align: center;
    font-size: 11px;
    color: #666666;
}
#quiz_settings #quiz_settings_questions #quiz_questionslist_container #quiz_questionslist_header #quiz_questionslist_form input {
    float: right;
    margin-left: 3px;
}
#quiz_settings #quiz_settings_questions #quiz_questionslist_container #quiz_questionslist_createditems {
	height: 407px;
	width: 100%;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
}
#quiz_settings #quiz_settings_questions #quiz_questionslist_container #quiz_questionslist_createditems .quiz_questionslist_emptylist {
	color: #AAAAAA;
	display: block;
	font-size: 12px;
	font-style: italic;
	margin: 7px 12px;	
}
#quiz_settings #quiz_settings_questions #quiz_questionslist_container #quiz_questionslist_createditems ul {
	margin: 0;
}
#quiz_settings #quiz_settings_questions #quiz_questionslist_container #quiz_questionslist_createditems ul li {
	border-bottom: 1px solid #E5EAED;
	color: #424242;
	list-style: none outside none;
	padding: 10px 15px 10px 15px;
	display: inline-block;
	width: 88%;
	cursor: move;
	margin-bottom: -4px;
}
#quiz_settings #quiz_settings_questions #quiz_questionslist_container #quiz_questionslist_createditems ul li .quiz_questionslist_details_button {
	float: left;
	width: 16px;
	height: 15px;
}
#quiz_settings #quiz_settings_questions #quiz_questionslist_container #quiz_questionslist_createditems ul li .quiz_questionslist_details_button .quiz_questionslist_showdetails_div .quiz_questionslist_showdetails_tag {
	display: inline-block;
	width: 16px;
	height: 15px;
	background: url("/dev/images/arrow_down_square.png") no-repeat top left transparent;
}
#quiz_settings #quiz_settings_questions #quiz_questionslist_container #quiz_questionslist_createditems ul li .quiz_questionslist_details_button:hover .quiz_questionslist_showdetails_div .quiz_questionslist_showdetails_tag {
	background: url("/dev/images/arrow_down_square_hover.png") no-repeat top left transparent;
}
#quiz_settings #quiz_settings_questions #quiz_questionslist_container #quiz_questionslist_createditems ul li .quiz_questionslist_details_button .quiz_questionslist_hidedetails_div .quiz_questionslist_hidedetails_tag {
	display: inline-block;
	width: 16px;
	height: 15px;
	background: url("/dev/images/arrow_up_square.png") no-repeat top left transparent;
}
#quiz_settings #quiz_settings_questions #quiz_questionslist_container #quiz_questionslist_createditems ul li .quiz_questionslist_details_button:hover .quiz_questionslist_hidedetails_div .quiz_questionslist_hidedetails_tag {
	background:url("/dev/images/arrow_up_square_hover.png") no-repeat top left transparent;
}
#quiz_settings #quiz_settings_questions #quiz_questionslist_container #quiz_questionslist_createditems ul li .quiz_questionslist_itemtitle {
	float: left;
	width: 70%;
	overflow: hidden;
	word-wrap:break-word;
	margin-left: 15px;
	margin-right: 10px;
}
#quiz_settings #quiz_settings_questions #quiz_questionslist_container #quiz_questionslist_createditems ul li .quiz_questionslist_remove_button {
	background: url("/devwidgets/quiz/images/delete_icon_default.png") no-repeat top left transparent;
	cursor: pointer;
	float: right;
	height: 13px;
	width: 13px;
	margin-top: 1px;
	text-decoration: none;
}
#quiz_settings #quiz_settings_questions #quiz_questionslist_container #quiz_questionslist_createditems ul li .quiz_questionslist_remove_button:hover { 
	background: url("/devwidgets/quiz/images/delete_icon_hover.png") no-repeat top left transparent;
}


/************  quiz_auestionsdetails  ***********/
#quiz_settings #quiz_settings_questiondetails {
    z-index: 999;
   	width: 355px;
   	top: 140px;
   	margin-left: -190px;
}

/*******  quiz_auestionsdetails_container ******/
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_close {
    background-image: url('/dev/images/dialog_close.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left top;
	width: 19px;
	height: 17px;
	float: right;
	cursor: pointer;
	margin: -2px -15px 0 0;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_close:hover {
	background-position: left -19px;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form .quiz_questiondetails_textarea_block .quiz_questiondetails_textearea {
	float: none;
	width: 97%;
	height: 41px;
	resize: none;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_table_div {
	display: block;
	width: 100%;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_table_div #quiz_questiondetails_table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;	
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_table_div #quiz_questiondetails_table #quiz_questiondetails_tablebody tr {
	height: 25px;
	max-height: 25px;
	table-layout:fixed;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_table_div #quiz_questiondetails_table #quiz_questiondetails_tablebody tr td,
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_table_div #quiz_questiondetails_table #quiz_questiondetails_tablebody tr th {
	border: 1px solid #A9A9A9;
	height: 25px;
	max-height: 25px;
	table-layout: fixed;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_table_div #quiz_questiondetails_table #quiz_questiondetails_tablebody tr th {
	background: #6ABCF6;
	background: -webkit-linear-gradient(top, #D9E9F1 0%,#89D9FB 1%,#83D6F9 10%,#60C2EC 39%,#4FBEF1 48%,#4DC0F1 100%);
	background: -moz-linear-gradient(center top , #D9E9F1 0%, #89D9FB 1%, #83D6F9 10%, #60C2EC 39%, #4FBEF1 48%, #4DC0F1 100%) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(top, #D9E9F1 0%,#89D9FB 1%,#83D6F9 10%,#60C2EC 39%,#4FBEF1 48%,#4DC0F1 100%);
	background: -ms-linear-gradient(top, #D9E9F1 0%,#89D9FB 1%,#83D6F9 10%,#60C2EC 39%,#4FBEF1 48%,#4DC0F1 100%);
	background: linear-gradient(top, #D9E9F1 0%,#89D9FB 1%,#83D6F9 10%,#60C2EC 39%,#4FBEF1 48%,#4DC0F1 100%);
    color: #666666;
    height: 28px;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_table_div #quiz_questiondetails_table #quiz_questiondetails_tablebody tr td {
	background-color: white;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_table_div #quiz_questiondetails_table #quiz_questiondetails_tablebody tr #quiz_questiondetails_th_option {
	width: 80%;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_table_div #quiz_questiondetails_table #quiz_questiondetails_tablebody tr #quiz_questiondetails_th_correct {
	width: 20%;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_table_div #quiz_questiondetails_table #quiz_questiondetails_tablebody tr .quiz_questiondetails_checkbox_td {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_table_div #quiz_questiondetails_table #quiz_questiondetails_tablebody tr td .quiz_questiondetails_answer {
	height: 25px;
	max-height: 25px;
	width: 96.6%;
	margin-bottom: 0px;
	border:none;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_table_div #quiz_questiondetails_table #quiz_questiondetails_tablebody tr .quiz_questiondetails_checkbox_td .quiz_questiondetails_checkbox_div {
	width: 25%;
	height: 65%;
	margin-left: auto;
	margin-right: auto;
	color: #666666;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_table_div #quiz_questiondetails_table #quiz_questiondetails_tablebody tr .quiz_questiondetails_checkbox_td .quiz_questiondetails_checkbox_div input {
	float: none;
	width: 15px;
	height: 15px;
    margin-bottom: 0px;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_modifytable {
	display: inline-block;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_modifytable #quiz_questiondetails_add_newanswer {
	float: left;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_modifytable #quiz_questiondetails_remove_lastanswer {
	float: right;
	margin-left: 50px;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_modifytable #quiz_questiondetails_add_newanswer #quiz_questiondetails_add_button,
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_modifytable #quiz_questiondetails_remove_lastanswer #quiz_questiondetails_remove_button {
	color: #666666;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_modifytable #quiz_questiondetails_add_newanswer #quiz_questiondetails_add_button:disabled,
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_modifytable #quiz_questiondetails_remove_lastanswer #quiz_questiondetails_remove_button:disabled {
	color: #666666 !important;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_modifytable #quiz_questiondetails_add_newanswer #quiz_questiondetails_add_button:hover,
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_modifytable #quiz_questiondetails_remove_lastanswer #quiz_questiondetails_remove_button:hover {
	color: #2683BC;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_modifytable #quiz_questiondetails_add_newanswer #quiz_questiondetails_add_button #quiz_questiondetails_add_div span,
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_modifytable #quiz_questiondetails_remove_lastanswer #quiz_questiondetails_remove_button #quiz_questiondetails_remove_div span {
	display: inline;
	margin-left: 6px;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_modifytable #quiz_questiondetails_add_newanswer #quiz_questiondetails_add_button #quiz_questiondetails_add_div #quiz_questiondetails_add_tag {
	display: inline-block;
	width: 9px;
	height: 9px;
	background: url("/devwidgets/quiz/images/search_tag_active.png") no-repeat top left transparent;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_modifytable #quiz_questiondetails_add_newanswer #quiz_questiondetails_add_button:hover #quiz_questiondetails_add_div #quiz_questiondetails_add_tag {
	background: url("/devwidgets/quiz/images/search_tag_add.png") no-repeat top left transparent;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_modifytable #quiz_questiondetails_add_newanswer #quiz_questiondetails_add_button:disabled #quiz_questiondetails_add_div #quiz_questiondetails_add_tag {
	cursor: default;
	background: url("/devwidgets/quiz/images/search_tag_active.png") no-repeat top left transparent !important;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_modifytable #quiz_questiondetails_remove_lastanswer #quiz_questiondetails_remove_button #quiz_questiondetails_remove_div #quiz_questiondetails_remove_tag {
	display: inline-block;
	width: 13px;
	height: 13px;
	background: url("/devwidgets/quiz/images/delete_icon_default.png") no-repeat top left transparent;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_modifytable #quiz_questiondetails_remove_lastanswer #quiz_questiondetails_remove_button:disabled #quiz_questiondetails_remove_div #quiz_questiondetails_remove_tag {
	cursor: default;
	background: url("/devwidgets/quiz/images/delete_icon_default.png") no-repeat top left transparent !important;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_form #quiz_questiondetails_modifytable #quiz_questiondetails_remove_lastanswer #quiz_questiondetails_remove_button:hover #quiz_questiondetails_remove_div #quiz_questiondetails_remove_tag {
	background: url("/devwidgets/quiz/images/delete_icon_hover.png") no-repeat top left transparent;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_savediv #quiz_questiondetails_savemodification {
    margin-left: 15px;
    height: 24px;
}
#quiz_settings #quiz_settings_questiondetails #quiz_questiondetails_container #quiz_questiondetails_savediv #quiz_questiondetails_savemodification:disabled {
    margin-left: 15px;
    height: 24px;
}
#quiz_settings input::-webkit-input-placeholder {
    color: #aaa;
    font-style: italic;
}
#quiz_settings input:-moz-placeholder {
    color: #aaa;
    font-style: italic;
}
#quiz_settings textarea::-webkit-input-placeholder {
    color: #aaa;
    font-style: italic;
}
#quiz_settings textarea:-moz-placeholder {
    color: #aaa;
    font-style: italic;
}

/*******  quiz_displaying ******/
#quiz_displaying {
    width: 90%;
    height: auto;
    margin: 10px auto;
    box-shadow: 0 0 5px #888;
    background: #e0eff6;
    padding: 20px;
    font-size: 14px;
    color: #666666;
    line-height: 1.1em;
    text-align: justify;
    word-wrap: break-word;
}
#quiz_displaying .quizName {
    border-bottom: 5px solid #2683BC;
    color: #666666;
    margin: 0 0 15px;
    padding: 8px 0;
    font-size: 18px;
}

#quiz_displaying .quizArea:before, 
#quiz_displaying .quizArea:after, 
#quiz_displaying .quizResults:before, 
#quiz_displaying .quizResults:after {
    content: "\0020";
    display: block;
}
#quiz_displaying .quizArea:after,
#quiz_displaying .quizResults:after {
    clear: both;
}
#quiz_displaying .quizArea .quizHeader p {
    margin-left: 10px;
    font-weight:bold;
    font-style:italic;
    color: #666666;
}
#quiz_displaying .quizArea .quizHeader a.startQuiz {
    margin-top: 30px;
}
#quiz_displaying .quizArea .questions {
    margin-left: 20px;
    margin-top: 20px;
}
#quiz_displaying .quizArea .questions li {
    margin-left: 0;
}
#quiz_displaying .quizArea .questions li .questionCount {
    font-size: 14px;
    font-style: italic;
}
#quiz_displaying .quizArea .questions li .questionCount span {
    font-weight: bold;
}
#quiz_displaying .quizArea .questions li h3 {
    font-size: 16px;
    margin-top: 20px;
    margin-left: 20px;
}
#quiz_displaying .quizArea .questions li ul.answers {
    margin-left: 40px;
    margin-bottom: 20px;
}
#quiz_displaying .quizArea .questions li ul.answers li {
    display: inline-block;
    width: 100%
}
#quiz_displaying .quizArea .questions li ul.answers li input {
    float: left;
}
#quiz_displaying .quizArea .questions li ul.answers li p {
    display: inline-block;
    float: right;
    width: 96%;
    min-width: 100px;
    margin-left: 10px;
    margin-bottom: 5px;
}
#quiz_displaying .quizArea .questions li ul.responses {
    margin: 20px 40px 25px 40px;
}
#quiz_displaying .quizArea .questions li ul.responses .correct {
    color: #6C9F2E;
    font-weight: bold;
}
#quiz_displaying .quizArea .questions li ul.responses .incorrect {
    color: #B5121B;
    font-weight: bold;
}
#quiz_displaying .quizResults {
    margin-top: 20px;
    margin-left: 10px;
}
#quiz_displaying .quizResults .quizScore {
    font-size: 14px;
    margin-bottom: 15px;
}
#quiz_displaying .quizResults .quizScore span {
    margin-left: 10px;
    font-weight: normal;
}
#quiz_displaying .quizResults .quizLevel {
    font-size: 14px;
    margin-bottom: 25px;
}
#quiz_displaying .quizResults .quizLevel span {
    margin-left: 10px;
    font-weight: normal;
}
#quiz_displaying .quizResults .quizResultsCopy {
    font-weight:bold;
    font-style:italic;
    color: #666666;
    margin-top: 20px;
    margin-bottom: 25px;
}
#quiz_displaying .button {
    float: left;
    width: auto;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    padding: 8px 10px 8px 10px;
    color:#666;
    background: #fff;
    box-shadow: 0 0 4px -2px #A8A8A8 inset;
    border: 1px solid #e0e3e5;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
    margin-right: 10px;
}
#quiz_displaying .button:hover {
    color:#fff;
    background: #3b8ec0;
    background: -moz-linear-gradient(bottom, #57c9fa 0%, #50bbec 22%, #3b8ec0 69%, #3581b3 89%, #3480b2 100%);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#57c9fa), color-stop(22%,#50bbec), color-stop(69%,#3b8ec0), color-stop(89%,#3581b3), color-stop(100%,#3480b2));
    background: -webkit-linear-gradient(bottom, #57c9fa 0%,#50bbec 22%,#3b8ec0 69%,#3581b3 89%,#3480b2 100%);
    background: -o-linear-gradient(bottom, #57c9fa 0%,#50bbec 22%,#3b8ec0 69%,#3581b3 89%,#3480b2 100%);
    background: -ms-linear-gradient(bottom, #57c9fa 0%,#50bbec 22%,#3b8ec0 69%,#3581b3 89%,#3480b2 100%);
    background: linear-gradient(bottom, #57c9fa 0%,#50bbec 22%,#3b8ec0 69%,#3581b3 89%,#3480b2 100%);
}
#quiz_displaying .startQuiz,
#quiz_displaying .nextQuestion,
#quiz_displaying .backToQuestion,
#quiz_displaying .restartQuiz,
#quiz_displaying .questions li.question,
#quiz_displaying .questions li.question .responses,
#quiz_displaying .questions li.question .responses .correct,
#quiz_displaying .questions li.question .responses .incorrect,
#quiz_displaying .quizResults {
    display: none;
}
#quiz_displaying ol.questions,
#quiz_displaying ul.answers,
#quiz_displaying ul.responses,
#quiz_displaying ol.questions li,
#quiz_displaying ul.answers li,
#quiz_displaying ul.responses li {
    list-style-type: none;
}

