#photosgallery_settings #photosgallery_settings_maininformations #photosgallery_maininformations_form #photosgallery_maininformations_iddiv {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}
#photosgallery_settings #photosgallery_settings_maininformations #photosgallery_maininformations_form #photosgallery_maininformations_iddiv span {
    margin-left: 54px;
    margin-top: -6px;
    width: 67%;
}
#photosgallery_settings #photosgallery_settings_maininformations #photosgallery_maininformations_form #photosgallery_maininformations_iddiv label {
    clear: left;
    float: left;
    width: auto;
    margin-right: 10px;
    margin-top: 5px;
}
#photosgallery_settings #photosgallery_settings_maininformations #photosgallery_maininformations_form #photosgallery_maininformations_iddiv #photosgallery_maininformations_name {
    float: left;
    width: 67%;
}
#photosgallery_settings #photosgallery_settings_maininformations #photosgallery_maininformations_form #photosgallery_maininformations_iddiv #photosgallery_maininformations_search {
    float: right;
    width: auto;
    margin-top: -2px;
}
#photosgallery_settings #photosgallery_settings_albums {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #a9a9a9;
    height: auto;
    padding: 15px 15px 15px 15px;
    border-radius: 5px 5px 5px 5px;
}
#photosgallery_settings #photosgallery_settings_albums #quiz_albums_form {
    display: block;
}
#photosgallery_settings #photosgallery_settings_albums #quiz_albums_form #photosgallery_albums_title {
    width: 100%;
    margin-top: 5px;
    height: 22px;
}
#photosgallery_settings #photosgallery_settings_albums #photosgallery_settings_msg_selectalbum {
    margin-top: 50px;
}
#photosgallery_settings #photosgallery_settings_albums #photosgallery_albums_informations {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
}
#photosgallery_settings #photosgallery_settings_albums #photosgallery_albums_informations img {
    width: 30%;
    float: left;
    box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    margin-right: 16px;
}
#photosgallery_settings #photosgallery_settings_albums #photosgallery_albums_informations #photosgallery_albums_table {
    table-layout: fixed;
    float: right;
    margin-top: -6px;
    width: 67%;
}
#photosgallery_settings #photosgallery_settings_albums #photosgallery_albums_informations #photosgallery_albums_table tr th, 
#photosgallery_settings #photosgallery_settings_albums #photosgallery_albums_informations #photosgallery_albums_table tr td {
    table-layout: fixed;
    text-align: left;
    padding: 8px;
    word-wrap: break-word;
}
#photosgallery_settings #photosgallery_settings_albums #photosgallery_albums_informations #photosgallery_albums_table tr th {
    width: 30%;
}
#photosgallery_settings #photosgallery_settings_albums #photosgallery_albums_informations #photosgallery_albums_table tr td {
    width: 70%;
}

#photosgallery_displaying {
    display: inline-block;
    border: 1px solid #a9a9a9;
    height: 400px;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
}
#photosgallery_displaying #photosgallery_displaying_divlist {
    float: left;
    border-right: 1px solid #a9a9a9;
    height: 100%;
    overflow: hidden;
    width: 15%;
}
#photosgallery_displaying #photosgallery_displaying_divlist #photosgallery_displaying_list {
    height: 290px;
    overflow: hidden;
}
#photosgallery_displaying #photosgallery_displaying_divlist #photosgallery_displaying_list li {
    list-style: none outside none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    margin-bottom: 3px;
    width: 72px;
}
#photosgallery_displaying #photosgallery_displaying_divlist #photosgallery_displaying_list li a {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    overflow-y: hidden;
    width: 72px;
    line-height: 35px;
}
#photosgallery_displaying #photosgallery_displaying_divlist #photosgallery_displaying_list li a img {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 100%;
}
#photosgallery_displaying #photosgallery_displaying_slideshow {
    float: right;
    display: block;
    height: 100%;
    width: 84.5%;
    overflow: hidden;
}
#photosgallery_displaying #photosgallery_displaying_slideshow #photosgallery_displaying_imgcontainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    width: 512px;
    height: 355px;
    line-height: 355px;
    text-align: center;
}
#photosgallery_displaying #photosgallery_displaying_slideshow #photosgallery_displaying_imgcontainer #photosgallery_displaying_divimg {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px 4px #888;
    -moz-box-shadow: 0 0 10px 4px #888;
    -webkit-box-shadow: 0 0 10px 4px #888;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
#photosgallery_displaying #photosgallery_displaying_slideshow #photosgallery_displaying_imgcontainer #photosgallery_displaying_divimg img {
    margin-top: -1px;
    vertical-align: middle;
}
#photosgallery_displaying #photosgallery_displaying_slideshow #photosgallery_displaying_imgcontainer #photosgallery_displaying_msg_notfound {
    display: inline-block;
    vertical-align: middle;
}
#photosgallery_displaying #photosgallery_displaying_slideshow #photosgallery_displaying_buttons {
    margin-left: auto;
    margin-right: auto;
    width: 162px;
    height: 35px;
    margin-top: 7px;
}
#photosgallery_displaying #photosgallery_displaying_slideshow #photosgallery_displaying_buttons #photosgallery_displaying_divbutton {
    display: inline-block;
}
#photosgallery_displaying #photosgallery_displaying_slideshow #photosgallery_displaying_buttons #photosgallery_displaying_divbutton #photosgallery_displaying_previousbutton {
    float: left;
}
#photosgallery_displaying #photosgallery_displaying_slideshow #photosgallery_displaying_buttons #photosgallery_displaying_divbutton #photosgallery_displaying_previousbutton #photosgallery_displaying_previousdiv #photosgallery_displaying_previoustag {
    display: inline-block;
    width: 21px;
    height: 18px;
    background: url("/devwidgets/photosgallery/images/raquo_left.png") no-repeat top left transparent;
}
#photosgallery_displaying #photosgallery_displaying_slideshow #photosgallery_displaying_buttons #photosgallery_displaying_divbutton #photosgallery_displaying_previousbutton:hover #photosgallery_displaying_previousdiv #photosgallery_displaying_previoustag {
    background: url("/devwidgets/photosgallery/images/raquo_left_active.png") no-repeat top left transparent;
}
#photosgallery_displaying #photosgallery_displaying_slideshow #photosgallery_displaying_buttons #photosgallery_displaying_divbutton #photosgallery_displaying_playstopdiv {
    width: 120px;
    float: left;
}
#photosgallery_displaying #photosgallery_displaying_slideshow #photosgallery_displaying_buttons #photosgallery_displaying_divbutton #photosgallery_displaying_playstopdiv #photosgallery_displaying_playstopbutton {
    margin-left: auto;
    margin-right: auto;
    width: 19px;
    display: block;
}
#photosgallery_displaying #photosgallery_displaying_slideshow #photosgallery_displaying_buttons #photosgallery_displaying_divbutton #photosgallery_displaying_playstopdiv #photosgallery_displaying_playstopbutton #photosgallery_displaying_playdiv {
    margin-left: auto;
    margin-right: auto;
    width: 11px;
}
#photosgallery_displaying #photosgallery_displaying_slideshow #photosgallery_displaying_buttons #photosgallery_displaying_divbutton #photosgallery_displaying_playstopdiv #photosgallery_displaying_playstopbutton #photosgallery_displaying_playdiv #photosgallery_displaying_playtag {
    display: inline-block;
    width: 11px;
    height: 18px;
    background: url("/devwidgets/photosgallery/images/play_button.png") no-repeat top left transparent;
}
#photosgallery_displaying #photosgallery_displaying_slideshow #photosgallery_displaying_buttons #photosgallery_displaying_divbutton #photosgallery_displaying_playstopdiv #photosgallery_displaying_playstopbutton:hover #photosgallery_displaying_playdiv #photosgallery_displaying_playtag {
    background: url("/devwidgets/photosgallery/images/play_button_active.png") no-repeat top left transparent;
}
#photosgallery_displaying #photosgallery_displaying_slideshow #photosgallery_displaying_buttons #photosgallery_displaying_divbutton #photosgallery_displaying_playstopdiv #photosgallery_displaying_playstopbutton #photosgallery_displaying_stopdiv {
    margin-left: auto;
    margin-right: auto;
    width: 19px;
}
#photosgallery_displaying #photosgallery_displaying_slideshow #photosgallery_displaying_buttons #photosgallery_displaying_divbutton #photosgallery_displaying_playstopdiv #photosgallery_displaying_playstopbutton #photosgallery_displaying_stopdiv #photosgallery_displaying_stoptag {
    display: inline-block;
    width: 19px;
    height: 18px;
    background: url("/devwidgets/photosgallery/images/stop_button.png") no-repeat top left transparent;
}
#photosgallery_displaying #photosgallery_displaying_slideshow #photosgallery_displaying_buttons #photosgallery_displaying_divbutton #photosgallery_displaying_playstopdiv #photosgallery_displaying_playstopbutton:hover #photosgallery_displaying_stopdiv #photosgallery_displaying_stoptag {
    background: url("/devwidgets/photosgallery/images/stop_button_active.png") no-repeat top left transparent;
}
#photosgallery_displaying #photosgallery_displaying_slideshow #photosgallery_displaying_buttons #photosgallery_displaying_divbutton #photosgallery_displaying_nextbutton {
    float: right;
}
#photosgallery_displaying #photosgallery_displaying_slideshow #photosgallery_displaying_buttons #photosgallery_displaying_divbutton #photosgallery_displaying_nextbutton #photosgallery_displaying_nextdiv #photosgallery_displaying_nexttag {
    display: inline-block;
    width: 21px;
    height: 18px;
    background: url("/devwidgets/photosgallery/images/raquo_right.png") no-repeat top left transparent;
}
#photosgallery_displaying #photosgallery_displaying_slideshow #photosgallery_displaying_buttons #photosgallery_displaying_divbutton #photosgallery_displaying_nextbutton:hover #photosgallery_displaying_nextdiv #photosgallery_displaying_nexttag {
    background: url("/devwidgets/photosgallery/images/raquo_right_active.png") no-repeat top left transparent;
}
#photosgallery_displaying #photosgallery_displaying_divlist #photosgallery_displaying_upbutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: -3px;
    width: 21px;
}
#photosgallery_displaying #photosgallery_displaying_divlist #photosgallery_displaying_upbutton #photosgallery_displaying_updiv #photosgallery_displaying_uptag {
    display: inline-block;
    width: 21px;
    height: 20px;
    background: url("/devwidgets/photosgallery/images/raquo_up.png") no-repeat top left transparent;
}
#photosgallery_displaying #photosgallery_displaying_divlist #photosgallery_displaying_upbutton:hover #photosgallery_displaying_updiv #photosgallery_displaying_uptag {
    background: url("/devwidgets/photosgallery/images/raquo_up_active.png") no-repeat top left transparent;
}
#photosgallery_displaying #photosgallery_displaying_divlist #photosgallery_displaying_downbutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    margin-top: 5px;
    width: 21px;
}
#photosgallery_displaying #photosgallery_displaying_divlist #photosgallery_displaying_downbutton #photosgallery_displaying_downdiv #photosgallery_displaying_downtag {
    display: inline-block;
    width: 21px;
    height: 20px;
    background: url("/devwidgets/photosgallery/images/raquo_down.png") no-repeat top left transparent;
}
#photosgallery_displaying #photosgallery_displaying_divlist #photosgallery_displaying_downbutton:hover #photosgallery_displaying_downdiv #photosgallery_displaying_downtag {
    background: url("/devwidgets/photosgallery/images/raquo_down_active.png") no-repeat top left transparent;
}



